h1#monTitre= titreH1
if (prenom && nom && date)
  p Bienvenue sur le site, #{ prenom } #{ nom } !
  p Nous sommmes aujourd'hui le #{ date }
  a(href="/pages/template.pug") PUG LIIIIIFE
else
  p Bonjour #{ name }, vous avez à ce jour #{ age } an(s).
  br
  p Vous habitez à #{ city }, et votre code postal est le #{ zipCode }