doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Collection mongodb
    body 
    h1 Vous visualiualisez la base de données #{db}
    p et la collection #{collection}
    p Utilisateur 1 : #{user1Name} vous Habitez la ville de #{user1City}, code postal #{user1ZipCode}, et vous avez #{user1Age} ans.
    p Utilisateur 2 : #{user2Name} vous Habitez la ville de #{user2City}, code postal #{user2ZipCode}, et vous avez #{user2Age} ans.
    p Utilisateur 3 : #{user3Name} vous Habitez la ville de #{user3City}, code postal #{user3ZipCode}, et vous avez #{user3Age} ans.
    