doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Collection mongodb
    body 
    h1 Vous visualiualisez la base de données #{db}
    p et la collection #{collection}
    p= user1
    p= user2
    p= user3 